repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: name-tests-test
        exclude: tests/fixtures

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.7"
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix"]

  - repo: local
    hooks:
      - id: lock-file-check
        name: lock file check
        language: system
        entry: uv lock --check
        pass_filenames: false
        files: ^(pyproject\.toml|.*\.lock)$

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        pass_filenames: false
        types: [python]
        args: ["src/alert_manager"]
